<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">

    <nav class="navbar navbar-expand-sm navbar mb-2 bg-light"  style="background-color: #e3f2fd;">
        <a class="navbar-brand">MOOMOOL ADMIN</a>
    </nav>
    <div class="container">
        <nav class="nav nav-tabs nav-stacked">
            <a class="nav-link active" href="/admin/main">메인</a>
            <a class="nav-link" href="/admin/members">회원관리</a>
            <a class="nav-link" href="/admin/posts">게시물관리</a>
        </nav>
    </div>

</header>
</html>